<div class = "container-xxl bd-gutter mt-3 my-md-4 bd-layout">
  <p class="fs-1">
  <h1>Розподіл Кумарасвамі</h1>
  </p>
  <p class="text-justify fs-5">
    У ймовірності та статистиці, подвійний обмежений розподіл Кумарасвами належить до сімейства безперервних розподілів ймовірностей, визначених на інтервалі (0,1). Він схожий на бета-розподіл, але набагато простіше у використанні, особливо у дослідженнях моделювання, оскільки його функція щільності ймовірності, кумулятивна функція розподілу та функції квантилів можуть бути виражені у закритій формі.
    Розподіл  іноді називають розподілом Кумарасвами з подвійним кордоном та вважають "бета-подібним" через якісну схожість його PDF з бета-розподілом (Beta Distribution).

  </p>
  <p class="text-justify fs-5">
  Функція щільності ймовірності (Probability density function,  P.d.f) для розподілу Кумарасвами з двома параметрами (p, q) має вигляд:
  </p>
  <p class="text-center fs-5">
    <br><%= image_tag("PDF.png") %><br>
  </p>
  <p class="text-justify fs-5">
    Графік щільності розподілу виглядає наступним чином:
  </p>
  <p class="text-center fs-5">
    <br><%= image_tag("PDFG.png", size: "400x300") %><br>
  </p>
  <p class="text-justify fs-5">
    Кумулятивна функція розподілу (Сumulative distribution function, С.d.f) для розподілу Кумарасвами має вигляд:
  </p>
  <p class="text-center fs-5">
    <br><%= image_tag("CDF.png") %><br>
  </p>

  <p class="text-justify fs-5">
    Графік функції розподілу виглядає наступним чином:
  </p>
  <p class="text-center fs-5">
    <br><%= image_tag("CDFG.png", size: "400x300") %><br>
  </p>

</div>
